BasedOnStyle: Chromium
IndentWidth: 2
AlignAfterOpenBracket: Align
#AlignConsecutiveAssignments: AcrossEmptyLines.
#AlignConsecutiveMacros: AcrossEmptyLines
AllowShortBlocksOnASingleLine: Always
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
